/* AddAPI.css */
.add-api-container {
  padding: 10px;
  max-width: 500px;
  margin: auto;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.api-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.label {
  text-align: right;
  padding-right: 10px;
  color: var(--primary-text-color);
}

.form-group input,
.form-group select,
.form-group textarea {
  flex: 1;
  margin-left: 10px;
  background-color: var(--input-bg-color);
  color: var(--primary-text-color);
  border: 1px solid var(--box-shadow-color);
  border-radius: 5px;
  padding: 10px;
}

.submit-btn {
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--icon-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--primary-color-hover);
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .add-api-container {
      padding: 5px;
  }

  .form-group input[type="text"],
  .form-group input[type="number"] {
      padding: 8px;
  }
}  
  