/* AudioPlayer.css */
.audio-loading-icon {
  font-size: 1rem;
  color: var(--primary-color);
}

.audio-icon-label {
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.small-audio-player {
  width: 100px;
  display: block;
  margin-top: 5px;
}