.code-container {
    position: relative;
    /* Additional styling for the code container */
  }
  
  .copy-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 5px 10px; /* Example padding */
    background-color:  var(--background-color);; /* Example background color */
    border: 1px solid #ccc; /* Example border */
    border-radius: 4px; /* Rounded corners */
   
  }
  
