/* SandingBox.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 1001; /* Below the loading box but above everything else */
  }
  
  .loading-box {
    position: fixed;
    pointer-events: none;
    background: var(--secondary-bg-color);
    padding: 8px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    z-index: 1002;
  }  
