.sidebar {

  height: 100%;
  

  min-width: 250px; /* Adjust this value based on your design requirements */
  max-width: 100%; /* Ensure it does not exceed the viewport width */
  width: auto; /* Let the width be determined by the content */


  position: fixed;

  top: 0;
  left: -100%;
  background: var(--background-color);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between elements */
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  padding: 10px;
  /* Additional styling for the header */
}


.sidebar-footer {
  padding: 10px;
  /* Additional styling for the footer */
}

/* Rest of the CSS remains the same */

  .sidebar-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  



  .toggle-button:hover {
    background: var(--primary-color-hover); /* Use variable for hover color */
    transform: translateY(-50%) translateX(10px);
  }
  

/* Additional styles for your sidebar content */

ul li {
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: visible; /* Hides overflow content */
  text-overflow: ellipsis; /* Adds an ellipsis to overflowing text */
  padding-right: 10px; /* Adjust as needed */
  white-space: nowrap; /* Prevent text wrapping */
}


ul li a {
  color: var(--primary-text-color);
  text-decoration: none;
  display: block;
  padding: 10px;
}

ul li a:hover {
  background-color: var(--primary-color-hover);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-picture {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border-radius: 50%; /* Circular image */
  margin-right: 10px;
}

.user-details p {
  margin: 0;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.show-context-icon {
  color: #4a90e2; 
  cursor: pointer;
  font-size: 20px; 
  /* Add more styling as needed */
}

/* files content tooltip */

.file-content-tooltip2 {
  display: none;
  position: relative;
  bottom: 100%; /* Position above the file icon */
  left: 5px;  
  max-width: 300px;
  max-height: 500px;
  background-color: var(--secondary-bg-color);
  border: 1px solid #ddd;
  padding: 5px;
  z-index: 1002;
  overflow: auto; /* Add scroll for overflow content */
  box-sizing: border-box; /* Ensure padding is included in width/height */
  margin-bottom: 5px; /* Space between the tooltip and the icon */

  white-space: normal; /* Allows the text to wrap */
}

.hover-file-content-tooltip:hover .file-content-tooltip2 {
  display: block; /* or 'flex' depending on your layout */
}

